*{
    margin: 0px;
    padding: 0px;
}
.backgroundContainer{
    background-color: bisque;
    text-align: center;
}
.container{
    
    height: 70vh;
    display: flex;
    justify-content: center;
    

}

.game{
    margin-top: 3rem;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;

    
    
    
   
}
.Box{
    height: 16vmin;
    width: 16vmin;
    border-radius: 20px;
    background-color: azure;
    box-shadow: 0 0 1rem rgba(59, 54, 54, 0.5);
    font-size: 8vmin;
    
    
}


.rstBtn{
    /* width:120px;
    padding:10px;
    background-color:black;
    text-align: center;
    border-radius: 15px;
    color:white;
    font-family:roboto;
    font-size:20px;
    margin-bottom: 3rem; */
    width:120px;
    height: 50px;
    padding:5px;
    background-color:#36454F;
    text-align: center;
    border-radius: 20px;
    color:white;
    font-family:roboto;
    font-size:25px;
    
    

    

}
.hide{
    display: none;
}

.winBtn{
    width:150px;
    height: 50px;
    padding:5px;
    background-color:#36454F;
    text-align: center;
    border-radius: 20px;
    color:white;
    font-family:roboto;
    font-size:25px;
    margin: 20px;
    
}
/* .win-msg{
    height:h;

    
   
} */
.winPara{
    margin-top:5vmin;
    font-family:serif;
    font-size: 30px;
}



